title = "Užsakymas"
url = "/uzsakymas"
layout = "default"
is_hidden = 0
==

{% block site_body %}
    {% include '/partials/page-header.twig' with {
        title: 'Užsakymas'
    } %}

    <div class="checkout block">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="alert alert-lg alert-primary">Jau turi pirkėjo paskyrą? <a href="">Prisijunkite</a></div>
                </div>

                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="card mb-lg-0">
                        <div class="card-body">
                            <h3 class="card-title">Užsakymo informacija</h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="checkout-first-name">Vardas</label>
                                    <input type="text" class="form-control" id="checkout-first-name" placeholder="Vardas">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="checkout-last-name">Pavardė</label>
                                    <input type="text" class="form-control" id="checkout-last-name" placeholder="Pavardė">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="checkout-company-name">Įmonės pavadinimas <span class="text-muted">(Neprivaloma)</span></label>
                                <input type="text" class="form-control" id="checkout-company-name" placeholder="Įmonės pavadinimas">
                            </div>
                            <div class="form-group">
                                <label for="checkout-country">Šalis</label>
                                <select id="checkout-country" class="form-control form-control-select2">
                                    <option>Pasirinkite šalį...</option>
                                    <option>Lietuva</option>
                                    <option>Russia</option>
                                    <option>United States</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="checkout-street-address">Adresas</label>
                                <input type="text" class="form-control" id="checkout-street-address" placeholder="Adresas, gatvė, namo/buto nr.">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="checkout-city">Miestas</label>
                                    <input type="text" class="form-control" id="checkout-city">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="checkout-postcode">Pašto kodas</label>
                                    <input type="text" class="form-control" id="checkout-postcode">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="checkout-email">El. pašto adresas</label>
                                    <input type="email" class="form-control" id="checkout-email" placeholder="El. pašto adresas">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="checkout-phone">Telefono nr.</label>
                                    <input type="text" class="form-control" id="checkout-phone" placeholder="Telefono nr.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="checkout-create-account">
                                            <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px"><use xlink:href="{{ 'assets/images/sprite.svg#check-9x7'|theme }}"></use></svg>
                                        </span>
                                    </span>
                                    <label class="form-check-label" for="checkout-create-account">Sukurti paskyrą?</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-body">
                            <h3 class="card-title">Pristatymo informacija</h3>

                            <div class="form-group">
                                <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="checkout-different-address">
                                            <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px"><use xlink:href="{{ 'assets/images/sprite.svg#check-9x7'|theme }}"></use></svg>
                                        </span>
                                    </span>
                                    <label class="form-check-label" for="checkout-different-address">Sąskaitos adresas skiriasi nuo pristatymo adreso?</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="checkout-comment">Komentarai <span class="text-muted">(Neprivaloma)</span></label>
                                <textarea id="checkout-comment" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                    <div class="card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Jūsų užsakymas</h3>

                            <table class="checkout__totals">
                                <thead class="checkout__totals-header">
                                <tr>
                                    <th>Prekė</th>
                                    <th>Viso</th>
                                </tr>
                                </thead>
                                <tbody class="checkout__totals-products">
                                {% for product in cart.products %}
                                    <tr>
                                        <td>{{ product.name }} × {{ product.quantity }}</td>
                                        <td>{{ product.total }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tbody class="checkout__totals-subtotals">
                                {% for total in cart.checkout_totals %}
                                    {% if not loop.last %}
                                        <tr>
                                            <th>{{ total.title }}</th>
                                            <td>{{ total.value }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                                <tfoot class="checkout__totals-footer">
                                <tr>
                                    <th>Viso</th>
                                    <td>{{ (cart.checkout_totals|last).value }}</td>
                                </tr>
                                </tfoot>
                            </table>

                            <div class="payment-methods">
                                <ul class="payment-methods__list">
                                    <li class="payment-methods__item payment-methods__item--active">
                                        <label class="payment-methods__item-header">
                                            <span class="payment-methods__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input class="input-radio__input" name="checkout_payment_method" type="radio" checked>
                                                    <span class="input-radio__circle"></span>
                                                </span>
                                            </span>
                                            <span class="payment-methods__item-title">Bankinis pavedimas</span>
                                        </label>
                                        <div class="payment-methods__item-container">
                                            <div class="payment-methods__item-description text-muted">
                                                Make your payment directly into our bank account. Please use your Order ID as the payment
                                                reference. Your order will not be shipped until the funds have cleared in our account.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="payment-methods__item">
                                        <label class="payment-methods__item-header">
                                            <span class="payment-methods__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input class="input-radio__input" name="checkout_payment_method" type="radio">
                                                    <span class="input-radio__circle"></span>
                                                </span>
                                            </span>
                                            <span class="payment-methods__item-title">Grynieji pristatymo metu</span>
                                        </label>
                                        <div class="payment-methods__item-container">
                                            <div class="payment-methods__item-description text-muted">
                                                Pay with cash upon delivery.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="payment-methods__item">
                                        <label class="payment-methods__item-header">
                                            <span class="payment-methods__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input class="input-radio__input" name="checkout_payment_method" type="radio">
                                                    <span class="input-radio__circle"></span>
                                                </span>
                                            </span>
                                            <span class="payment-methods__item-title">PayPal</span>
                                        </label>
                                        <div class="payment-methods__item-container">
                                            <div class="payment-methods__item-description text-muted">
                                                Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>



                            <div class="checkout__agree form-group">
                                <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="checkout-terms">
                                            <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px"><use xlink:href="{{ 'assets/images/sprite.svg#check-9x7'|theme }}"></use></svg>
                                        </span>
                                    </span>
                                    <label class="form-check-label" for="checkout-terms">
                                        Aš perskaičiau ir sutinku su <a target="_blank" href="terms-and-conditions.html">pirkimo taisyklėmis</a>*
                                    </label>
                                </div>
                            </div>



                            <button type="submit" class="btn btn-primary btn-xl btn-block">Užbaigti užsakymą</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
